@{
  Layout = "_Layout";
}
@model RpgCompendium.Models.Armor

<h2>Add to a Monster</h2>

<h4>Add @Html.DisplayFor(model => model.ArmorName) to:</h4>

@using (Html.BeginForm())
{
  @Html.HiddenFor(model => model.ArmorId)

  @Html.Label("Select Monster")
  @Html.DropDownList("MonsterId")

  <input type="submit" value="Save" class="btn btn-success btn-sm" />
}
<br>
<p>@Html.ActionLink("Armor List", "Index", null, null, new {@class="btn btn-primary btn-sm"})</p>