@{
  Layout = "_Layout";
}
@model RpgCompendium.Models.Armor

<h4>Add a new Armor</h4>
<hr />
@using (Html.BeginForm())
{
  @Html.Label("Armor Name")
  @Html.TextBoxFor(model => model.ArmorName,
new {@required="required"})
  @Html.Label("Armor Description")
  @Html.EditorFor(model => model.ArmorDescription,
new {@required="required"})

  <input type="submit" value="Add new Armor" />
}

<button>@Html.ActionLink("Show all Armors", "Index")</button>