@{
  Layout = "_Layout";
}

@model RpgCompendium.Models.Monster;

<h1>Monster Details</h1>
<hr />
<h3>Name: @Html.DisplayFor(model => model.MonsterName)</h3>
<hr />
@if (@Model.MainTypes.Count == 0)
{
  <p>This monster is not assigned any Main Types</p>
}
else
{
  <h3>Types the monster contains:</h3>
  <ul>
    @foreach (var join in Model.MainTypes)
    {
      @using (Html.BeginForm("DeleteMainType", "Monsters"))
      {
      <li>@Html.ActionLink($"{join.MainType.MainTypeName}", "Details", "MainTypes", new { id = join.MainType.MainTypeId })     <input type="submit" value="Remove" class="btn btn-warning btn-sm" /></li>
      @Html.Hidden("monsterId", @join.MonsterId)
      @Html.Hidden("joinId", @join.MonsterMainTypeId)      
      }
    }
  </ul>
}
<hr />
<p>@Html.ActionLink("Edit this monster", "Edit", new { id = Model.MonsterId }, new {@class="btn btn-success btn-sm"})
</p>
<p>@Html.ActionLink("Add a Main Type", "AddMainType", "Monsters", new { id = Model.MonsterId } , new {@class="btn btn-success btn-sm"})</p>
<p>@Html.ActionLink("Delete this monster", "Delete", new { id = Model.MonsterId }, new {@class="btn btn-danger btn-sm"})
</p>
<p>@Html.ActionLink("Back to monsters", "Index", null, null, new {@class="btn btn-primary btn-sm"})</p>