@{
  Layout = "_Layout";
}

@model RpgCompendium.Models.Behavior;

<h2>Behavior Details</h2>
<hr />
<h3>Name: @Html.DisplayFor(model => model.BehaviorName)</h3>

@* @* @if(@Model.Behaviors.Count == 0)
  {
  <p>This Behavior does not contain any behaviors</p>
  }
  else
  {
  <h4>Behaviors the monster contains:</h4>
  <ul>
  @foreach(var join in Model.MonsterBehaviors)
  {
  <li>@join.Behavior.Description</li>
  }
  </ul>
  } *@

<p>@Html.ActionLink("Edit this Behavior", "Edit", new { id = Model.BehaviorId }, new {@class="btn btn-success btn-sm"})
</p>
<p>@Html.ActionLink("Delete this Behavior", "Delete", new { id = Model.BehaviorId }, new {@class="btn btn-danger btn-sm"})
</p>
<p>@Html.ActionLink("Back to Behaviors", "Index", null, null, new {@class="btn btn-primary btn-sm"})</p>