@{
  Layout = "_Layout";
}

@model RpgCompendium.Models.Behavior;

<h3>Behavior Name: @Html.DisplayFor(model => model.BehaviorName) </h3>
<p>Description: @Html.DisplayFor(model => model.BehaviorDescription)</p>

<p>@Html.ActionLink("Edit this Behavior", "Edit", new { id = Model.BehaviorId }, new {@class="btn btn-success btn-sm"})
</p>
<p>@Html.ActionLink("Delete this Behavior", "Delete", new { id = Model.BehaviorId }, new {@class="btn btn-danger btn-sm"})
</p>
<p>@Html.ActionLink("Back to Behaviors", "Index", null, null, new {@class="btn btn-primary btn-sm"})</p>